DATABASE_URL="database connection string here"
PORT=8000
APP_URL=http://localhost:8000
BCRYPT_SALT_ROUNDS=10
JWT_ACCESS_SECRET=ghdsgsdg
JWT_REFRESH_SECRET=flgsdlg;jhsdjg
JWT_ACCESS_EXPIRES_IN=1d
JWT_REFRESH_EXPIRES_IN=7d